# python related
**/__pycache__/**
test_project/venv

# django related
**.log
test_project/db.sqlite3
test_project/.forestadmin-schema.json

# python packaging
django-introspectmodels/dist/
django-introspectmodels/*.egg-info/

# vscode
.vscode/