# python related
**/__pycache__/**
test_project/venv

# django related
**.log
test_project/db.sqlite3
test_project/.forestadmin-schema.json
test_project/.coverage
# the debugging simlink
test_project/introspectmodels

# python packaging
dist/
*.egg-info/

# vscode
.vscode/