django<5
../dist/django-introspectmodels-0.2.tar.gz
# django-introspectmodels @ https://github.com/jbarreau/Forest-test/
# django-introspectmodels  # from pypi
coverage

black # vscode
flake8 # vscode
