django<5
../django-introspectmodels/dist/django-introspectmodels-0.1.tar.gz
# django-introspectmodels @ https://github.com/jbarreau/django-introspectmodels
# django-introspectmodels

black # vscode
flake8 # vscode